@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  /*font-family: 'VT323', monospace;*/
  font-family: cursive;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 80px;
  background-color: #c5cbff;
  
}

.main-content{
  max-width: 1000px;
  display: flex;
  align-items: center;
} 

.menu-links {
  padding: 20px;
}

.menu-links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin-right: 15px;
  position: relative;
  font-size: 1.1em;
  font-family: 'Courier New', Courier, monospace;
}

.menu-links a::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  width: 0px;
  height: 0.2rem;
  background: white;
  transition: all 150ms ease-in-out;
  border-radius: 10px;
}

.menu-links a:hover::after {
  width: 50%;
  left: 25%;
}

.apresentation{
  justify-content: space-around;
  padding: 30px;
}

.description p{
  font-family: 'Indie Flower', cursive;
  font-size: 1.8em;
}

.otherC{
  color: rgb(102, 102, 102);
}

span {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.6em;
}

.btn{
  display: flex;
}

.description a{
  text-decoration: none;
  margin-top: 10px;
  padding: 10px;
  color: black;
  font-size: 1.2em;
  background-color: #8490ff;
  border: 2px solid #8490ff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.description a:hover{
  background-color: #5f6fff;
  color: white;
  border: 2px solid black;
}

.container{
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.26);
  height: 70vh;
  padding: 70px;
  background-color: rgb(255, 255, 255);
}

#self{
  width: 80%;
  box-shadow: 4px 4px #3e51ff;
}

.self-content{
  display: flex;
  justify-content: end;
}

.line{
  display: flex;
  width: 80%;
  height: 8px;
  background: linear-gradient(to left, #8490ff 0%, #62bdfc 100%);
  margin-top: 4px;
  justify-content: center;
  border-radius: 8px;
}

.line2{
  display: flex;
  width: 70%;
  height: 8px;
  background: linear-gradient(to left, #8490ff 0%, #62bdfc 100%);
  margin-top: 4px;
  justify-content: center;
  border-radius: 8px;
}

.line3{
  display: flex;
  width: 20%;
  height: 8px;
  background: linear-gradient(to left, #8490ff 0%, #62bdfc 100%);
  margin-top: 4px;
  justify-content: center;
  border-radius: 8px;
}

.habilityBox{
  width: 200px;

}

.habilityContent{
  padding: 15px;
}

.back-line{
    background-color: rgb(206, 206, 206);
    border-radius: 8px;
}

.hability{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1000px;
}

.hability-container{
  background-color: #f4f5ff;
  height: 70vh;
}

.habilitySection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.habilitySection h2{
  margin-bottom: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.7em;
  color: #5f6fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.692);
  text-align: center;
}

.otherP{
  margin-bottom: 30px;
  font-family: 'Indie Flower', cursive;
  font-size: 1.6em;
  color: rgb(102, 102, 102);
  text-align: center;
}

section{
    display: flex;
    justify-content: center;
}

.block{
    display: flex;
    justify-content: center;
    margin: 30px;
    margin-bottom: 50px;
}

.titleHability{
  margin-top: 10px;
  text-align: end;
}

.projects{
  height: 60vh;
  width: 1000px;
  justify-content: space-around;
}

.project-card{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 250px;
  height: 300px;
}

.project-card img {
  margin: 10px 0px;
  width: 200px;
}

.project-card h3{
  margin: 10px;
}

.project-card p{
  text-align: center;
}

.project-card-a{
  text-decoration: none;
  color: rgb(55, 55, 55);
}

.project-card-a:hover{
  transform: scale(1.1);
  transition: 200ms;
}


footer{
  background-color: #c5cbff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

footer p {
  font-size: 0.8em;
}

footer span {
  margin-top: px;
  font-size: 1.2em;
}

@media screen and (max-width: 630px) {
  
  h1{
    font-size: 17px;
  }
  
  .menu-links a {
    display: none;
  }
  
  .description p{
    font-size: 20px;
  }
  .hability{
    flex-direction: column;
    width: 100vw;
  }

  .habilityBox{
    width: 250px;
    margin-bottom: 20px;
  }
  
  nav{
    justify-content: space-around;
  }

  span {
    font-size: 15px;
  }

  .apresentation{
    flex-direction: column;
  }

  .btn{
    justify-content: center;
    margin-bottom: 30px;
  }

  .self-content{
    justify-content: center;
  }

  .container{
    height: 100vh;
    padding: 20px;
  }

  #h2-hability{
    font-size: 22px;
  }

  .projects{
    flex-direction: column;
    height: 100vh;
  }

  .habilityDescription {
    width: 100vw;
  }

  .otherP{
    padding: 0px;
    font-size: 17px;
  }

  .hability-container{
    background-color: #f4f5ff;
    height: 100vh;
  }

}

@media screen and (max-width: 990px) {
  span {
    font-size: 1.4em;
  }
}