@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  /*font-family: 'VT323', monospace;*/
  font-family: cursive;
}

nav{
  position: fixed;
  display: flex;
  justify-content: space-around;
  height: 8vh;
  background-color: #a6affd;
  align-items: center;
  width: 100%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.397);
}


section.wid{
  justify-content: space-around;
}

.description p{
  font-family: 'Indie Flower', cursive;
  font-size: 1.8em;
  margin-bottom: 10px;
}

.description span {
  font-family: 'VT323', monospace;
  font-size: 1.5em;
}

.description a{
  text-decoration: none;
  padding: 10px;
  border: 3px solid #8490ff;
  color: black;
  border-radius: 20px;
}

.container{
  display: flex;
  height: 70vh;
  justify-content: space-around;
  padding: 70px;
  align-items: center;
}

.line{
  display: flex;
  width: 80%;
  height: 8px;
  background: linear-gradient(to left, #8490ff 0%, #62bdfc 100%);
  margin-top: 4px;
  justify-content: center;
  border-radius: 8px;
}

.line2{
  display: flex;
  width: 70%;
  height: 8px;
  background: linear-gradient(to left, #8490ff 0%, #62bdfc 100%);
  margin-top: 4px;
  justify-content: center;
  border-radius: 8px;
}

.line3{
  display: flex;
  width: 20%;
  height: 8px;
  background: linear-gradient(to left, #8490ff 0%, #62bdfc 100%);
  margin-top: 4px;
  justify-content: center;
  border-radius: 8px;
}

.wid {
  width: 1000px;
}

.habilityBox{
  width: 200px;

}

.habilityContent{
  padding: 15px;
}

.back-line{
    background-color: rgb(206, 206, 206);
    border-radius: 8px;
}

.hability{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section{
    display: flex;
    justify-content: center;
}

.block{
    display: flex;
    justify-content: center;
    margin: 30px;
    margin-bottom: 50px;
}

.titleHability{
  margin-top: 10px;
  text-align: end;
}

@media screen and (max-width: 630px) {
  .hability{
    flex-direction: column;
  }

  .habilityBox{
    width: 250px;
    margin-bottom: 20px;
  }
}